.bi.bi-trash3-fill{
    font-size: 20px;
    color: red;
}

.bi.bi-pencil-square{
    font-size: 20px;
    margin-right: 15px;
}

thead > tr > th{
    font-size: 20px;
}

thead > tr > th:nth-child(3){
    text-align: right;
}

tbody > tr > td:first-child{
    font-weight: bold;
    }

tbody > tr > td:nth-child(3){
    text-align: right;
}

.card-body{
    margin-top: 20px;
}

.col-lg-3{
    margin-top: 10px;
}